<!-- tasks/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>TaskBuddy</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/index.css' %}">
</head>
<body>
    <div class="postion">
    <div class=topleft>TaskBuddy</div>
    </div>

    <li></li>

    <h3>Join people on their boring tasks and make your whole life fun, turning boring tasks into valuable memories!</h3>

    <div class="postion">
    <div class="bottomleft">
        A community where individuals connect by sharing their upcoming tasks and joing each other in any boing activity.
        Through an intuitive and user-friendly platform, facilitate meaningful interactions,
        where you can organize, share, and engage in activities enhancing collective closeness.
    </div>
    </div>

    <a class='create' href="{% url 'login' %}">Login Now!</a>

    <a class='create' href="{% url 'register' %}">Create an account...<a>

</body>
</html>