/* Base styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #25d366;
}

.feature-title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.feature-description {
  font-size: 18px;
  color: #666;
}

.app-description {
  font-size: 16px;
  color: #444;
  margin: 20px 0;
}

.create-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #25d366;
  border-radius: 5px;
  margin-top: 20px;
}

.create-button:hover {
  background-color: #128c7e;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .container {
    max-width: 90%; /* Adjust as needed */
  }
  
  .logo {
    font-size: 20px;
  }

  .feature-title {
    font-size: 28px;
  }

  .feature-description {
    font-size: 16px;
  }

  .app-description {
    font-size: 14px;
  }

  .create-button {
    font-size: 16px;
  }
}